Package: com.JW97.nowplaying
Name: Now Playing
Depends: firmware (>= 5.0), com.saurik.substrate.safemode, applist
Version: 1.0
Architecture: iphoneos-arm
Description: An awesome widget for the notification center!
Maintainer: Jack Willis
Author: Jack Willis
Section: Addons (NotificationCenter)
